##############################
# Git
##############################

.git
.gitignore

##############################
# GitHub
##############################

.github/

##############################
# Documentation
##############################

README.md
LICENSE
*.md

##############################
# Python
##############################

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

##############################
# Node
##############################

node_modules/
npm-debug.log*

##############################
# Environment Files
##############################

.env
.env.*

##############################
# Logs
##############################

*.log

##############################
# Reports
##############################

reports/
*.sarif
*.html
*.xml
*.json

##############################
# IDE
##############################

.vscode/
.idea/

##############################
# OS Files
##############################

.DS_Store
Thumbs.db
